@{
    ViewBag.Title = "Dashboard";
}
<h2>Dashboard</h2>
<div class="row" style="text-align:center;margin:auto;">

    <div class="col-md-4" style="background-color:#0E8F9F;padding:50px;margin:8%;">
        <a style="color:white;font-weight:bold;" href="~/Administrator/peopleList">View members</a>
    </div>
    <div class="col-md-4" style="background-color:#32C867;padding:50px;margin:8%;">
        <a style="color:white;font-weight:bold;" href="~/Administrator/fileList">Access files</a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="row" style="text-align:center;margin:auto;">
    <div class="col-md-4" style="background-color:#FF5D25;padding:50px;margin-left:8%;margin-right:8%;">
        <a style="color:white;font-weight:bold;" href="~/Administrator/departmentList">Departments</a>
    </div>
    <div class="col-md-4" style="background-color:#FDAE2D;padding:50px;margin-left:8%;margin-right:8%;">
        <a style="color:white;font-weight:bold;" href="~/Administrator/auditList">Audit Trail</a>
    </div>
    <div class="clearfix"></div>
</div>