@model EDMS.department

@{
    ViewBag.Title = "Department Details";
}

<h2>Department Details</h2>

<div>
    <h4>department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.deptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deptName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "departmentEdit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "departmentList")
</p>
